# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
media/
staticfiles/

# PyCharm / IDE
.idea/

# Docker
*.env


# Celery beat
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

*.docx
*.txt